.row{
    margin-inline:20%;
}
/*.card-tile{*/
/*    display: inline-block;*/
/*}*/

.card{
    width: 18rem;
}
img{
    display: block;
    max-width:297px;
    max-height:180px;
    width: auto;
    height: auto;
}
a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: none;
}

.image-txt-container{
    display: flex;

}

.image-item{
    padding: 0px;
}

